@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: rgb(220 38 38);
  /* background-color: #252627ff; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #252627ff;
  overflow: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.regForm > * {
  margin: 5px;
  text-align: center;
}

li {
}

/* button {
  border-radius: 12px;
  background: linear-gradient(145deg, #a33535, #c23f3f);
  box-shadow: 12px 12px 27px #9c3333, -12px -12px 27px #ce4343;
} */
